################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/newproject/v17
/.vs/newProject1/CopilotIndices/0.2.1657.32929
/.vs/newProject1/FileContentIndex
/.vs/newProject1/v17
/bin/x64/Debug/newProject1.pdb
/bin/x64/Debug/newProject1.exe
/bin/intermediates/x64/Debug/main.obj
/bin/intermediates/x64/Debug/newProject1.exe.recipe
/bin/intermediates/x64/Debug/newProject1.ilk
/bin/intermediates/x64/Debug/newProject1.log
/bin/intermediates/x64/Debug/vc143.idb
/bin/intermediates/x64/Debug/vc143.pdb
/bin/intermediates/x64/Debug/newProject1.tlog
/.vs/newProject1/copilot-chat/f0b8ac63/sessions
/.vs/newProject1/CopilotIndices/17.12.38.29086
/.vs/VSWorkspaceState.json
